.font-playfair {
    font-family: 'Playfair Display', serif;
  }

.titulo {
    margin-top: 10rem;
    font-size: 10rem;
    
}

.V {
    font-size: 2rem;
}

.home {
    background-image: url(./img/carta.jpg);
    background-size: cover;
}

.imgEu {
    margin-top: 15rem;
    margin-left: 75rem;
    border: 10px solid #2e0202;
    border-radius: 5px;
}

.font-times {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .carta {
    margin-top: -15rem;
    margin-left: 25rem;
    margin-right: 40rem;
  }

  .cartaApr {
    background-color: rgb(175, 175, 175);
  }

  .port1 {
    margin-top: -20rem;
    margin-left: 75rem;
  }

  .port2 {
    margin-top: 1rem;
    margin-left: 75rem;
  }

  .titulo2 {
    font-size: 10rem;
    color: #2e0202;

  }

  .grupo {
    margin-left: 25rem;
    margin-top: 10rem;
  }
